@import '@utils/common.scss';

body {
    background-color: skyblue;

    #title {
        color: pink;

        .icon-message {
            font-size: 48px;
        }
    }

    .container {
        background-color: #fff;
    }

    [class^='col-'] {
        background-color: #eee;
        text-align: center;
    }
}
