<!DOCTYPE html>
<html lang="en">
    <head>
        <%= require('@components/meta.ejs')() %>
        <title>About</title>
    </head>
    <body>
        <header>
            <h1 id="title">
                About
                <span class="iconfont icon-message"></span>
            </h1>
            <a href="./index.html"><h2>Index ></h2></a>
        </header>
        <footer>
            <%= require('@components/copyright.ejs')() %>
        </footer>

        <% if(IS_DEV){ %>
        <script src="https://cdn.staticfile.org/vConsole/3.3.4/vconsole.min.js"></script>
        <script>
            new VConsole();
        </script>
        <% } %>
    </body>
</html>
