<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>About</title>
    </head>
    <body>
        <header>
            <h1 id="title">
                About
                <span class="iconfont icon-message"></span>
            </h1>
        </header>
        <footer>
            <a href="./index.html"><h2>Index</h2></a>
            <%= require('@components/commonComponent.ejs')() %>
        </footer>
    </body>
</html>
